<% if @score.errors.any? %>
  <div id="error_explanation" class="p-4 my-8 border border-red-500 bg-red-200">
    <h2><%= pluralize(@score.errors.count, 'error') %> prohibited this object from being saved:</h2>
    <ul class="list-disc">
      <% @score.errors.each do |error| %>
        <li class="ml-5"><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: [:system, @score] do |form| %>
  <%= form.label :house_id %><br>
  <%= form.select :house_id, house_select_options, { prompt: 'Select' } %><br>

  <%= form.label :value %><br>
  <%= form.number_field :value, in: 1..12 %><br>

  <%= form.submit %>
<% end %>
